/* CSS files add styling rules to your content */

* {
    margin: 0;
	padding: 0;
}
body {
    width:100%;
	height: 100%;
    background-image: url(../img/Background-8.png); 
    background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0;
	background-attachment: fixed;
}
#start img{
    width: 10%;
    padding-left: 45%;
}
#logo{
    width: 20%;
    padding: 12% 40% 2%;
}